@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

.navbar {
  background: black;
}

.nav-links {
  color: white !important;
  cursor: pointer;
}

.nav-links:hover {
  color: black !important;
  background: white !important;
}

/* media query above 768px */
@media (min-width: 768px) {
  .nav-links:hover {
    background: none !important;
    color: rgb(212, 212, 212) !important;
  }
}

.custom-shape-divider-top-1673200510 {
  position: absolute;
  top: -105px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  rotate: 180deg;
}

.custom-shape-divider-top-1673200510 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
  animation: widthAnimation 40s linear infinite;
}

.custom-shape-divider-top-1673200510 .shape-fill {
  fill: rgb(243 244 246 / var(--tw-bg-opacity));
}

@keyframes widthAnimation {
  0% {
    width: calc(100% + 1.3px);
  }
  50% {
    width: calc(150% + 1.3px);
  }
  100% {
    width: calc(100% + 1.3px);
  }
}

.card-wrapper:hover .image-cover {
  opacity: 0;
}

.card-wrapper::-webkit-scrollbar {
  width: 0.5rem;
}

.card-wrapper::-webkit-scrollbar-thumb {
  background-color: aliceblue;
  border-radius: 1rem;
}

.whole-container::-webkit-scrollbar {
  width: 1rem;
  background-color: rgb(59, 69, 78);
  transition: ease 1s;
}

.whole-container::-webkit-scrollbar-thumb {
  background-color: rgb(156, 178, 197);
  border-radius: 1rem;
  transition: ease 1s;
}
.whole-container::-webkit-scrollbar:hover {
  background-color: rgb(31, 53, 73);
}

.whole-container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(205, 205, 205);
}
